* {
    box-sizing: inherit;
}

html,
body {
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;
}


.left-sidebar {
    display: block !important;
}

.left-nav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dce3ec;
    overflow-x: hidden;
    padding-top: 20px;

}

.left-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.left-nav a:hover {
    background-color: #799bff;
}

.main {
    margin-left: 200px;
    font-size: 15px;
    padding: 0px 10px;
}

.active {
    background-color: rgb(13, 0, 128);
    color: white;
}

.h2-left {
    padding: 1px 8px 6px 16px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    display: block;
    text-align: left;
}

p {
    line-height: 25px;
}

.topic-title {
    font-weight: 400;
}

.subtitle {
    font-weight: 100;
}

.code {
    background-color: rgb(224, 228, 247);
    padding: 10px 20px;
    border-radius: 4px;
}

.code-inner {
    border-left: 4px solid blue;
    padding: 10px 20px;
    background-color: white;
}

code {
    color: red;
    background-color: rgb(230, 227, 227);
    border-radius: 3px;
    padding: 3px;
}

li {
    line-height: 25px;
}

.main-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/img1.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}

.main-title-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}